<section class="hero-section">
    <div class=" hero-text text-content text-center">
        <h1 class="hero-heading text-content text-light">About Us</h1>
        <h4 class="text-content text-light pt-3">Get to know more about us and our restaurants.</h4>
    </div>
</section>
<div class="about">
  <h1 class=" about-heading text-content text-center m-5 ">Why Choose Us</h1>
  <div class="container">
    <p class=" text-content text-center m-2 fs-4"> At Gambero Rosso our guests share the same interest for freshly
      homemade mediterrean food, nice conversations and spontaneous, informal meetings. In our pasta manifattura our
      pasta and dolci are daily prepared on site - all guaranteed to be made from the best, freshest ingredients.</p>
      <div class="container col-lg-4 col-md-4 d-flex justify-content-center gap-5 pt-5">
      <img class="aboutimg" src="../assets/img/about1.jpg" alt="">
      <img class="aboutimg" src="../assets/img/about2.jpg" alt="">
      <img class="aboutimg" src="../assets/img/about3.jpg" alt="">
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card card-decor mt-5" style="width: 22rem;">
          <div class="card-title text-center mt-4">Our Mission</div>
          <div class="card-body">
            <p>-Uncompromised freshness guarantees best taste and healthiness</p>
            <p>-Design, decor, music and lighting create an inspiring ambience that refreshes all your senses</p>
            <p>-Perfect execution - every guest, every minute - fosters the trust in our brand</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card card-decor mt-5" style="width: 22rem;">
          <div class="card-title text-center mt-4">Our Staff</div>
          <div class="card-body">
            <p>-Integrity at every level is the cornerstone of trust amongst all of us</p>
            <p>-We continually challenge ourselves to ensure our future success</p>
            <p>-The personal development ensures our common growth. Going the extra mile will be recognised</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card card-decor mt-5" style="width: 22rem;">
          <div class="card-title text-center mt-4">Our Restaurants</div>
          <div class="card-body">
            <p>-Relaxation and serenity are the virtues of Cambero Rosso</p>
        <p>-Homemade pasta and wines from the best Italian growing areas</p>
        <p>- Extensive standard menu, supplemented with seasonal offers, a beautiful antipasti buffet, wines from the best Italian growing regions and Prosecco</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
