/* .hero-section{
    background-image: url(/assets/img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.hero-heading{
    padding-top: 10%;
    font-size: 5.5rem;
    font-family: 'Great Vibes', cursive;
} */
.about{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F7F7F7;
}
.about-heading {
    color: #A44E2E;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
}
.lists {
    width: 30%;
    font-size: 1.2rem;
}
#aboutus{
    font-size: 2.5rem;
}

.card-title{
    color: #A44E2E;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.05, 1.05);
    transition: 0.5s all ease-out;
}