<section class="hero-section">
  <div class=" hero-text text-content text-center">
    <h1 class="hero-heading text-content text-light">Ristorante Il Gambero Rosso</h1>
    <h4 class="text-content text-light pt-3">Delivering great food for more than 18 years!</h4>
    <button class="btn btn-success mt-5">Our Menu</button> &nbsp;
    <button class="btn btn-success mt-5">Book a table</button>
  </div>
</section>

<h1 class="homepage-heading">Ristorante Il Gambero Rosso</h1>
<div class="container gap-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center image-homepage">
      <img src="/assets/img/homepage.jpg">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center text-homepage text-content mt-4">
      <h2>Served everyday since 2004.</h2>
      <p> At Gambero Rosso our guests share the same interest for freshly homemade mediterrean food, nice conversations
        and spontaneous, informal meetings. In our pasta manifattura our pasta and dolci are daily prepared on site -
        all guaranteed to be made from the best, freshest ingredients.</p>
      <ul>
        <li>
          Read about us.
        </li>
        <li>
          Get to know our staff.
        </li>
        <li>
          Mutual expectations.
        </li>
      </ul>
      <p>
        We are looking forward to your personal visit, or online order, and can't wait to hear back from you!
      </p>
    </div>
  </div>
</div>

<h1 id="specials-heading">Check our specials</h1>
<div class="container d-flex justify-content-center specials gap-5">
  <div class="btn-group-vertical">
    <button class="btn specials-btn">Pizza Diavolo</button>
    <button class="btn specials-btn">Penne al Gorgonzola</button>
    <button class="btn specials-btn">Penne Chicken Alfredo</button>
    <button class="btn specials-btn">Spaghetti Bologneze</button>
    <button class="btn specials-btn">Tiramisu</button>
  </div> 
  <div class="card mb-5" style="max-width: 80%">
    <div class="row g-1">

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Spaghetti Carbonara</h5> <br>
          <p class="card-text">Carbonara is an Italian pasta dish from Rome made with eggs, hard cheese, cured pork, and black pepper. The dish arrived at its modern form, with its current name, in the middle of the 20th century. The cheese is usually Pecorino Romano, Parmigiano-Reggiano, or a combination of the two.</p>
        
        </div>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/homepage-carbonara.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>
